<div>
    <div class="form">
        <form name="frmUsuario">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control"
                               name="nome"
                               ng-model="usuario.nome"
                               ng-required="true"
                        placeholder="Nome..."/>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" class="form-control"
                               name="email"
                               ng-model="usuario.email"
                               ng-required="true"
                        placeholder="E-mail..."/>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label>Ativo</label>
                        <input type="checkbox" ng-model="usuario.ativo">
                    </div>
                </div>
            </div>
        </form>

        <hr/>

        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-primary" ng-click="gravar()" ng-disabled="frmUsuario.$invalid">Salvar</button>

                <button class="btn btn-secondary ml-2" ng-click="cancelar()">Cancelar</button>
            </div>
        </div>

        <hr />

        <table class="table mt-4">
            <thead>
            <tr>
                <th>Dt. Cadastro</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ativo</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in usuarios">
                <td>{{user.data | date: 'dd/MM/yyyy hh:mm'}}</td>
                <td>{{user.nome}}</td>
                <td>{{user.email}}</td>
                <td>{{user.ativo}}</td>
                <td>
                    <div class="flexDiv">
                        <button class="btn btn-warning ml-2" ng-click="editar(user)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-danger ml-2" ng-click="excluir(user)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
